.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .form-container h2 {
    color: #333;
  }

  .form-title {
    font-size: 18px;
  }
  
  .form-group {
    padding: 10px;
    text-align: center;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  input[type="text"] {
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  select {
    /* height: 40px; */
  }
  
  button {
    background-color: #78fd95;
    color: black;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #78fd95;
  }
  
  /* Style the checkbox input */
  input[type="checkbox"] {
    margin-right: 5px;
  }